.auth-container{
    max-width:26em;
    margin:auto;
    width: 100%;
    padding: 3.125em 1.25em;
}

.auth-title{
    font-size:1.875rem;
    font-weight: 600;
    font-family:var(--primary-family)
}

.auth-subtitle{
    font-size:1.125rem;
    font-family: var(--secondary-family);
    font-weight:400;
}

.auth-container a{
    text-decoration:none;
}

.auth-container input{
    height:3.125em;
    margin:.625em 0 1.5em 0;
}

.auth-container button{
    width: 100%;
    height: 2.5em;
}